@model RegisterViewModel

@{
    ViewBag.Title = "Sign up";
    Layout = "_Layout";
}

<h2>Sign up</h2>
@using (Html.BeginForm("Register", "Auth", FormMethod.Post))
{
    <div asp-validation-summary="ModelOnly"></div>
    @Html.EditorForModel()
    <div>
        <input type="submit" value="Sign up"/>
    </div>
}