@model AddPostViewModel

@{
    ViewBag.Title = "AddBlog";
    Layout = "_Layout";
}

@using (Html.BeginForm("AddBlog", "Blog", FormMethod.Post))
{
    <div asp-validation-summary="ModelOnly"></div>
    @Html.EditorForModel()
    <div>
        <input type="submit" value="submit"/>
    </div>
}